Implementatie/Microsoft Flow/MetaMaze.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Files":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/","flowSystemMetadata":{"swaggerOperationId":"ListFolder"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_1']['connectionId']"}},"method":"get","path":"/datasets/default/folders/@{encodeURIComponent(encodeURIComponent('6e202211-2856-4d17-9ded-5beb8b8626b0'))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"For_each_file":{"foreach":"@body('Get_Files')","actions":{"Add_filepath_to_files":{"runAfter":{},"type":"AppendToStringVariable","inputs":{"name":"files","value":"@items('For_each_file')?['Path']"}}},"runAfter":{"SendFiles":["Succeeded"]},"type":"Foreach"},"Initialise_files":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"files","type":"string"}]}},"If":{"actions":{"Send_Mail":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_success":{"runAfter":{"Send_Mail":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Successfully sent mail and files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Write_Error_To_Log_File_2":{"runAfter":{"Send_Mail":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Something wnet wrong when sending an email.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"For_each_file":["Succeeded"]},"else":{"actions":{"Log_success_2_":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Successfully send files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@length(variables('uncertainEntities'))",0]}},"type":"If"},"Initialise_uncertainEntities":{"runAfter":{"Initialise_files":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"uncertainEntities","type":"string"}]}},"Write_Error_To_Log_File":{"runAfter":{"SendFiles":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Something went wrong whilst getting the files.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"SendFiles":{"runAfter":{"Get_Files":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"post-sendfiles"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['metamaze-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","path":"/SendFiles","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}