Implementatie/Microsoft Flow/MetaMaze.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Initialise_uncertainEntities":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"uncertainEntities","type":"array"}]}},"Bestanden_in_de_map_weergeven":{"runAfter":{"Initialise_DropboxFiles":["Succeeded"]},"metadata":{"id:5meJ8N1B9jAAAAAAAAAEMg":"/flow","flowSystemMetadata":{"swaggerOperationId":"ListFolder"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['dropbox']['connectionId']"}},"method":"get","path":"/datasets/default/folders/@{encodeURIComponent(encodeURIComponent('id:5meJ8N1B9jAAAAAAAAAEMg'))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialise_DropboxFiles":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"dropboxFiles","type":"array"}]}},"For_Each_Path":{"foreach":"@body('Bestanden_in_de_map_weergeven')","actions":{"Add_to_DropboxFiles":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"dropboxFiles","value":"@items('For_Each_Path')?['Path']"}}},"runAfter":{"Bestanden_in_de_map_weergeven":["Succeeded"]},"type":"Foreach"},"If_uncertainEntites.Count_is_greater_than_0":{"actions":{"Log_success_after_mail":{"runAfter":{"Send_Mail":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully sent mail and files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Send_Mail":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Write_Error_To_Log_File_After_Fail_Sending_Mail":{"runAfter":{"Send_Mail":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst sending a mail.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"For_Each_Document":["Succeeded"]},"else":{"actions":{"Log_success":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully send files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@length(variables('dropboxFiles'))",0]}},"type":"If"},"JSON_parseren":{"runAfter":{"SendFiles_2":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('SendFiles_2')","schema":{"type":"object","properties":{"status":{"type":"string"},"documents":{"type":"array","items":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"confidence":{"type":"number"},"entityType":{"type":"object","properties":{"name":{"type":"string"}}}},"required":["confidence","entityType"]}},"documentType":{"type":"object","properties":{"threshold":{"type":"number"}}}},"required":["entities","documentType"]}}}}}},"For_Each_Document":{"foreach":"@body('JSON_parseren')?['documents']","actions":{"Op_elk(e)_toepassen":{"foreach":"@items('For_Each_Document')['entities']","actions":{"Voorwaarde":{"actions":{"Toevoegen_aan_een_matrixvariabele":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"uncertainEntities","value":"@items('Op_elk(e)_toepassen')?['entityType']?['name']"}}},"runAfter":{},"expression":{"less":["@items('Op_elk(e)_toepassen')?['confidence']","@items('For_Each_Document')?['documentType']?['threshold']"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"JSON_parseren":["Succeeded"]},"type":"Foreach"},"Write_Error_To_Log_File":{"runAfter":{"SendFiles_2":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst getting the files: @{body('SendFiles_2')}","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"SendFiles_2":{"runAfter":{"For_Each_Path":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendFiles"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","body":{"files":"@variables('dropboxFiles')","bearerToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiI1ZTczNTRiZDJhMDUzOTUyYzMwZmM2ZDciLCJvcmdhbmlzYXRpb25JZCI6IjVjY2FkNzE1MDc0Y2UyYjg1MGY2NDZkNSIsImlhdCI6MTU4NDYxODM1Nn0.k6-F4mn5-YqhnQxowvW-MNb3Ytwfz5386RnX4Y06KSg","organisationId":"5ccad715074ce2b850f646d5","projectId":"5e7354bd2a053952c30fc6d7"},"headers":{"Ocp-Apim-Subscription-Key":"EGXarJEW80PIScJ68PIXK9799Hl35Tzko2BKJ6kHxLnWmF8NIb3P8Q=="},"path":"/SendFiles","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}