Implementatie/Microsoft Flow/MetaMaze.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_Files":{"runAfter":{"Initialise_files":["Succeeded"]},"metadata":{"6e202211-2856-4d17-9ded-5beb8b8626b0":"/","flowSystemMetadata":{"swaggerOperationId":"ListFolder"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_1']['connectionId']"}},"method":"get","path":"/datasets/default/folders/@{encodeURIComponent(encodeURIComponent('6e202211-2856-4d17-9ded-5beb8b8626b0'))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If":{"actions":{"Send_Mail":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_success":{"runAfter":{"Send_Mail":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully sent mail and files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Write_Error_To_Log_File_2":{"runAfter":{"Send_Mail":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst sending a mail.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"SendFiles_Local":["Succeeded"]},"else":{"actions":{"Log_success_2_":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully send files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@length(variables('uncertainEntities'))",0]}},"type":"If"},"Initialise_uncertainEntities":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"uncertainEntities","type":"array"}]}},"Initialise_files":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"files","type":"array"}]}},"Add_Paths_To_Array":{"foreach":"@body('Get_Files')","actions":{"Toevoegen_aan_een_matrixvariabele":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"files","value":"@items('Add_Paths_To_Array')?['Path']"}}},"runAfter":{"Get_Files":["Succeeded"]},"type":"Foreach"},"Write_Error_To_Log_File":{"runAfter":{"SendFiles_Local":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst getting the files.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"SendFiles_Local":{"runAfter":{"Add_Paths_To_Array":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendFiles"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","body":{"files":"@variables('files')","bearerToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiI1ZTczNTRiZDJhMDUzOTUyYzMwZmM2ZDciLCJvcmdhbmlzYXRpb25JZCI6IjVjY2FkNzE1MDc0Y2UyYjg1MGY2NDZkNSIsImlhdCI6MTU4NDYxODM1Nn0.k6-F4mn5-YqhnQxowvW-MNb3Ytwfz5386RnX4Y06KSg","organisationId":"5ccad715074ce2b850f646d5","projectId":"5e7354bd2a053952c30fc6d7"},"path":"/SendFiles","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Get_SharePoint_Files":{"runAfter":{"Initialise_sharpointFiles":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://factionxyz0.sharepoint.com/sites/faktion-devs'))}/tables/@{encodeURIComponent(encodeURIComponent('fab6530d-d268-4216-a532-27095a368e61'))}/items","queries":{"viewScopeOption":"Default"},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Add_Parths_To_Array_2":{"foreach":"@body('Get_SharePoint_Files')?['value']","actions":{"Toevoegen_aan_een_matrixvariabele_2":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"sharepointFiles","value":"@items('Add_Parths_To_Array_2')?['{FullPath}']"}}},"runAfter":{"Get_SharePoint_Files":["Succeeded"]},"type":"Foreach"},"SendFiles_Sharepoint":{"runAfter":{"Add_Parths_To_Array_2":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendFiles"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","body":{"files":"@variables('sharepointFiles')","bearerToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiI1ZTczNTRiZDJhMDUzOTUyYzMwZmM2ZDciLCJvcmdhbmlzYXRpb25JZCI6IjVjY2FkNzE1MDc0Y2UyYjg1MGY2NDZkNSIsImlhdCI6MTU4NDYxODM1Nn0.k6-F4mn5-YqhnQxowvW-MNb3Ytwfz5386RnX4Y06KSg","organisationId":"5ccad715074ce2b850f646d5","projectId":"5e7354bd2a053952c30fc6d7"},"path":"/SendFiles","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialise_sharpointFiles":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"sharepointFiles","type":"array"}]}},"Write_Error_To_Log_File_3":{"runAfter":{"SendFiles_Sharepoint":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst getting the files.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_2":{"actions":{"Send_Mail_2":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_success_2":{"runAfter":{"Send_Mail_2":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully sent mail and files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Write_Error_To_Log_File_4":{"runAfter":{"Send_Mail_2":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Something went wrong whilst sending a mail.","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"SendFiles_Sharepoint":["Succeeded"]},"else":{"actions":{"Log_success_3":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ=":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"\n@{utcNow()}: Successfully send files","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZy50eHQ='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@length(variables('sharepointFiles'))",0]}},"type":"If"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}