Implementatie/Microsoft Flow/SharePoint.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"manual":{"type":"Request","kind":"Button","inputs":{"schema":{"type":"object","properties":{},"required":[]}}}},"actions":{"Get_file_content":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://factionxyz0.sharepoint.com/sites/faktion-devs'))}/GetFileContentByPath","queries":{"path":"/PowerAutomate/Invoice2.pdf","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialise_files":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"files","type":"array"}]}},"Add_content_to_files":{"runAfter":{"Get_file_content":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"files","value":"@body('Get_file_content')"}},"SendFilesSharePoint":{"runAfter":{"Add_content_to_files":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"sendfilesharepoint"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","body":{"files":"@variables('files')","bearerToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiI1ZTczNTRiZDJhMDUzOTUyYzMwZmM2ZDciLCJvcmdhbmlzYXRpb25JZCI6IjVjY2FkNzE1MDc0Y2UyYjg1MGY2NDZkNSIsImlhdCI6MTU4NDYxODM1Nn0.k6-F4mn5-YqhnQxowvW-MNb3Ytwfz5386RnX4Y06KSg","organisationId":"5ccad715074ce2b850f646d5","projectId":"5e7354bd2a053952c30fc6d7"},"path":"/SendFilesSharePoint","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"If_length_of_uncertainEntities_is_more_than_0":{"actions":{"Send_Mail":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_succes_mail":{"runAfter":{"Send_Mail":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Succesfully sent mail and files\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Log_mail_error":{"runAfter":{"Send_Mail":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}:  Something went wrong when sending the email.\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}},"runAfter":{"For_each_document":["Succeeded"]},"else":{"actions":{"Log_succes":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Succesfully uploaded files.\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}}}},"expression":{"not":{"equals":["@length(variables('uncertainEntities'))",0]}},"type":"If"},"Log_Error":{"runAfter":{"SendFilesSharePoint":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$connections']['filesystem']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Something wnet wrong when sending the documents: @{body('SendFilesSharePoint')}\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":{"type":"Raw","value":"@json(decodeBase64(triggerOutputs().headers['X-MS-APIM-Tokens']))['$ConnectionKey']"}}},"Initialise_uncertainEntities":{"runAfter":{"Initialise_files":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"uncertainEntities","type":"array"}]}},"Parse_JSON":{"runAfter":{"SendFilesSharePoint":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('SendFilesSharePoint')","schema":{"type":"object","properties":{"status":{"type":"string"},"documents":{"type":"array","items":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"confidence":{"type":"number"},"entityType":{"type":"object","properties":{"name":{"type":"string"}}}},"required":["confidence","entityType"]}},"documentType":{"type":"object","properties":{"threshold":{"type":"number"}}}},"required":["entities","documentType"]}}}}}},"For_each_document":{"foreach":"@body('Parse_JSON')?['documents']","actions":{"For_each_entity":{"foreach":"@items('For_Each_Document')['entities']","actions":{"Check_confidence_against_threshold":{"actions":{"Add_to_uncertainEntites":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"uncertainEntities","value":"@items('For_each_entity')?['entityType']?['name']"}}},"runAfter":{},"expression":{"less":["@items('For_each_entity')?['confidence']","@items('For_each_document')?['documentType']?['threshold']"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"}}},"parameters":{},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}}]}