Implementatie/Microsoft Flow/TriggerBased SendFiles.json
{"$schema":"https://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#","contentVersion":"1.0.0.0","parameters":{"logicAppName":{"type":"String","metadata":{"description":"Name of the logic app."}},"logicAppLocation":{"defaultValue":"[resourceGroup().location]","allowedValues":["eastasia","southeastasia","centralus","eastus","eastus2","westus","northcentralus","southcentralus","northeurope","westeurope","japanwest","japaneast","brazilsouth","australiaeast","australiasoutheast","southindia","centralindia","westindia","canadacentral","canadaeast","uaecentral","westcentralus","westus2","[resourceGroup().location]"],"type":"String","metadata":{"description":"Location of the logic app."}},"sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name":{"defaultValue":"sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d","type":"String","metadata":{"description":"Name of the connection."}},"sharepointonline_Connection_Name":{"defaultValue":"sharepointonline","type":"String","metadata":{"description":"Name of the connection."}},"sendmail_Connection_Name":{"defaultValue":"sendmail","type":"String","metadata":{"description":"Name of the connection."}},"filesystem_2_Connection_Name":{"defaultValue":"filesystem_2","type":"String","metadata":{"description":"Name of the connection."}},"filesystem_Connection_Name":{"defaultValue":"filesystem","type":"String","metadata":{"description":"Name of the connection."}}},"resources":[{"type":"Microsoft.Logic/workflows","apiVersion":"2016-06-01","name":"[parameters('logicAppName')]","location":"[parameters('logicAppLocation')]","dependsOn":["[resourceId('Microsoft.Web/connections', parameters('sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('filesystem_2_Connection_Name'))]","[resourceId('Microsoft.Web/connections', parameters('filesystem_Connection_Name'))]"],"properties":{"state":"Disabled","definition":{"$schema":"https://schema.management.azure.com/providers/Microsoft.Logic/schemas/2016-06-01/workflowdefinition.json#","contentVersion":"1.0.0.0","parameters":{"$connections":{"defaultValue":{},"type":"Object"},"$authentication":{"defaultValue":{},"type":"SecureObject"}},"triggers":{"New_file_added":{"recurrence":{"frequency":"Minute","interval":3},"splitOn":"@triggerBody()?['value']","metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetOnNewFileItems"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://factionxyz0.sharepoint.com/sites/faktion-devs'))}/tables/@{encodeURIComponent(encodeURIComponent('d8f371f0-dc03-4270-a1d5-8be1c3d789a9'))}/onnewfileitems","authentication":"@parameters('$authentication')"}}},"actions":{"SendFilesSharePoint":{"runAfter":{"Add_to_files":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"sendfilesharepoint"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d']['connectionId']"}},"method":"post","body":{"files":"@variables('files')","bearerToken":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJwcm9qZWN0SWQiOiI1ZTczNTRiZDJhMDUzOTUyYzMwZmM2ZDciLCJvcmdhbmlzYXRpb25JZCI6IjVjY2FkNzE1MDc0Y2UyYjg1MGY2NDZkNSIsImlhdCI6MTU4NDYxODM1Nn0.k6-F4mn5-YqhnQxowvW-MNb3Ytwfz5386RnX4Y06KSg","organisationId":"5ccad715074ce2b850f646d5","projectId":"5e7354bd2a053952c30fc6d7"},"path":"/SendFilesSharePoint","authentication":"@parameters('$authentication')"}},"Parse_JSON":{"runAfter":{"SendFilesSharePoint":["Succeeded"]},"type":"ParseJson","inputs":{"content":"@body('SendFilesSharePoint')","schema":{"type":"object","properties":{"status":{"type":"string"},"documents":{"type":"array","items":{"type":"object","properties":{"entities":{"type":"array","items":{"type":"object","properties":{"confidence":{"type":"number"},"entityType":{"type":"object","properties":{"name":{"type":"string"}}}},"required":["confidence","entityType"]}},"documentType":{"type":"object","properties":{"threshold":{"type":"number"}}}},"required":["entities","documentType"]}}}}}},"For_each_document":{"foreach":"@body('Parse_JSON')?['documents']","actions":{"For_each_entity":{"foreach":"@items('For_each_document')?['entities']","actions":{"Check_confidence_against_threshold":{"actions":{"Add_to_uncertainEntites":{"runAfter":{},"type":"AppendToArrayVariable","inputs":{"name":"uncertainEntities","value":"@items('For_each_entity')?['entityType']?['name']"}}},"runAfter":{},"expression":{"less":["@items('For_each_entity')?['confidence']","@items('For_each_document')?['documentType']?['threshold']"]},"type":"If"}},"runAfter":{},"type":"Foreach"}},"runAfter":{"Parse_JSON":["Succeeded"]},"type":"Foreach"},"Get_new_file_content":{"runAfter":{"Initialise_uncertainEntities":["Succeeded"]},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"GetFileContentByPath"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sharepointonline']['connectionId']"}},"method":"get","path":"/datasets/@{encodeURIComponent(encodeURIComponent('https://factionxyz0.sharepoint.com/sites/faktion-devs'))}/GetFileContentByPath","queries":{"path":"@triggerBody()?['{FullPath}']","queryParametersSingleEncoded":true,"inferContentType":true},"authentication":"@parameters('$authentication')"}},"Initialise_files":{"runAfter":{},"type":"InitializeVariable","inputs":{"variables":[{"name":"files","type":"array"}]}},"Initialise_uncertainEntities":{"runAfter":{"Initialise_files":["Succeeded"]},"type":"InitializeVariable","inputs":{"variables":[{"name":"uncertainEntities","type":"array"}]}},"Build_up_correct_JSON":{"runAfter":{"Get_new_file_content":["Succeeded"]},"type":"Compose","inputs":{"content":"@body('Get_new_file_content')","name":"@triggerBody()?['{FilenameWithExtension}']"}},"Add_to_files":{"runAfter":{"Build_up_correct_JSON":["Succeeded"]},"type":"AppendToArrayVariable","inputs":{"name":"files","value":"@outputs('Build_up_correct_JSON')"}},"If_length_of_uncertainEntities_is_more_than":{"actions":{"Send_Mail":{"runAfter":{},"metadata":{"flowSystemMetadata":{"swaggerOperationId":"SendEmailV3"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['sendmail']['connectionId']"}},"method":"post","body":{"to":"moutpessemier@hotmail.com","subject":"Some Entity Thresholds Were Not Reached","text":"<p>Hi there, this is your Metamaze upload report:<br>\n<br>\nSome entities were not extracted with a high enough certainity threshold: @{variables('uncertainEntities')}<br>\n<br>\nWe recommand you go check it Out.<br>\n<br>\nThe Metamaze Team<br>\n</p>","ishtml":true},"path":"/v3/mail/send","authentication":"@parameters('$authentication')"}},"Log_succes_mail":{"runAfter":{"Send_Mail":["Succeeded"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Succesfully sent mail and files\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":"@parameters('$authentication')"}},"Log_mail_error":{"runAfter":{"Send_Mail":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}:  Something went wrong when sending the email.\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":"@parameters('$authentication')"}}},"runAfter":{"For_each_document":["Succeeded"]},"else":{"actions":{"Log_succes":{"runAfter":{},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA==":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem_2']['connectionId']"}},"method":"patch","body":"@{utcNow()}: Succesfully uploaded files.\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50LnR4dA=='))}","authentication":"@parameters('$authentication')"}}}},"expression":{"not":{"equals":["@length(variables('uncertainEntities'))",0]}},"type":"If"},"Log_error":{"runAfter":{"SendFilesSharePoint":["Failed","TimedOut"]},"metadata":{"RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50X3RyaWdnZXIudHh0":"D:\\BachelorProef\\Implementatie\\Microsoft Flow\\log_sharepoint_trigger.txt","flowSystemMetadata":{"swaggerOperationId":"AppendFile"}},"type":"ApiConnection","inputs":{"host":{"connection":{"name":"@parameters('$connections')['filesystem']['connectionId']"}},"method":"patch","body":"@{utcNow()}:  An error occurred when sending the files to the MetaMaze backend. @{body('SendFilesSharePoint')}\n","path":"/datasets/default/files/@{encodeURIComponent(encodeURIComponent('RDpcQmFjaGVsb3JQcm9lZlxJbXBsZW1lbnRhdGllXE1pY3Jvc29mdCBGbG93XGxvZ19zaGFyZXBvaW50X3RyaWdnZXIudHh0'))}","authentication":"@parameters('$authentication')"}}}},"parameters":{"$connections":{"value":{"sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name'))]","connectionName":"[parameters('sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name')]"},"sharepointonline":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sharepointonline_Connection_Name'))]","connectionName":"[parameters('sharepointonline_Connection_Name')]"},"sendmail":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('sendmail_Connection_Name'))]","connectionName":"[parameters('sendmail_Connection_Name')]"},"filesystem_2":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem_2')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('filesystem_2_Connection_Name'))]","connectionName":"[parameters('filesystem_2_Connection_Name')]"},"filesystem":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem')]","connectionId":"[resourceId('Microsoft.Web/connections', parameters('filesystem_Connection_Name'))]","connectionName":"[parameters('filesystem_Connection_Name')]"}}}},"runtimeConfiguration":{"lifetime":{"unit":"Day","count":30},"collections":{"maximumItemCount":100000},"performanceProfile":{"throttles":{"mode":"Low"}},"retryPolicy":{"type":"Exponential","interval":"PT5M","count":2,"minimumInterval":"PT5M","maximumInterval":"PT1H"}}}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d')]"},"displayName":"[parameters('sendfiles-5f5074f4ea1a49fa23-5f5dc9cee8ab2b939d_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sharepointonline_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sharepointonline')]"},"displayName":"[parameters('sharepointonline_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('sendmail_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'sendmail')]"},"displayName":"[parameters('sendmail_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('filesystem_2_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem_2')]"},"displayName":"[parameters('filesystem_2_Connection_Name')]"}},{"type":"Microsoft.Web/connections","apiVersion":"2016-06-01","name":"[parameters('filesystem_Connection_Name')]","location":"[parameters('logicAppLocation')]","properties":{"api":{"id":"[concat('/subscriptions/', subscription().subscriptionId, '/providers/Microsoft.Web/locations/', parameters('logicAppLocation'), '/managedApis/', 'filesystem')]"},"displayName":"[parameters('filesystem_Connection_Name')]"}}]}